
$boringGrey: #bfbfbf;

.StartBar {
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 0px;
  background: $boringGrey;
}
#start_button {
  margin: 2px;
  float: left;
}
#clockbg {
  margin: 2px;
  position: absolute;
  right: 0px;
}
#clock {
  height: 35px;
  width: 86px;
  position: absolute;
  right: -2px;
  bottom: -5px;
}
.startMenu {
  position: relative;
  display: inline-block;
}
.startMenu-content {
  display: none;
  position: absolute;
  background-color: #bfbfbf;
  width: 225px;
  bottom: 42px;
  border: 1px outset black;
  z-index: 10000;
}
.startMenu-content input {
  display: block;
  text-decoration: none;
  float: right;
}
.show {
  display: block;
}
.startMenuLogo {
  position: absolute;
  bottom: 0px;
}

.windowButton {
  float: left;
  width: 135px;
  margin-top: 3px;
  font-size: 16px;
  padding-left: 10px;
  margin-right: 2px;
  padding-top: 6px;
  padding-bottom: 9px;
  background-image: url('../images/buttons_icons/window_button_down.png');
  background-repeat: no-repeat;
}
.windowButton:hover {
  cursor: pointer;
}

.start-subMenu-content input {
  display: block;
  text-decoration: none;
  float: right;
}
.start-subMenu-content {
  display: none;
  position: absolute;
  background-color: #bfbfbf;
  width: 200px;
  bottom: 99px;
  left: 225px;
  border: 1px outset black;
  z-index: 10000;
}
.programs_button:hover + .start-subMenu-content, .start-subMenu-content:hover {
  display: block;
}
